body {
    background-color: aquamarine;

}

.col-md-6 {

    border: 25px solid green;
    border-style: dotted solid;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
}

ol li {
    display: inline-block;
    flex-direction: row;
    border: 30px rgb(225, 245, 225);
}

a {
    color: white;
}

button {
    background-color: blueviolet;
}